:root {
    --font-main: 'Merriweather', serif;
    --bg-color: #7C6E5D;
}


/* .navbar-color {
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
} */

header nav.nav-active {
    background-color: var(--bg-color);
}

html {
    /* width: 100vw;
    height: 100vh; */
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: var(--font-main);
}

.layer {
    background-color: rgba(69, 48, 24, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-page-header {
    background-image: url("/img/pexels-max-vakhtbovych-6143369.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

.info-page-header {
    background-image: url("/img/panorama.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vw;
    min-height: 30vh;
    position: relative;
}

.nav-link,
.navbar-brand {
    color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

.nav-link:hover,
.navbar-brand:hover {
    color: rgba(69, 48, 24, 0.9);
}

.navbar {
    position: fixed;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: auto;
}

.header-content {
    display: grid;
    justify-content: center;
}

.header-heading {
    font-size: 4.5rem;
}

.header-info {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    margin: 180px 10px 90px 10px;
}

.header-buttons {
    display: flex;
    justify-content: center;
    gap: 150px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

.header__button {
    padding: 20px 40px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgba(255, 255, 255, 0.8);
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all .3s;
}

.header__button:hover {
    background-color: rgba(69, 48, 24, 0.9);
    font-size: larger;
}

.container {
    margin-top: 20px;
}

footer {
    background-color: rgba(69, 48, 24, 0.7);
}

.git-link {
    color: rgba(69, 48, 24, 0.7);
    text-decoration: none;
}

.git-link:hover {
    color: black;
    text-decoration: underline;
}

p {
    margin: 0;
}

.info-link {
    color: black;
    transition: all .2s;
    text-decoration: none;
}

.info-link:hover {
    color: var(--bg-color);
}

footer {
    margin-top: 10px;
    height: 5vh;
    text-align: center;
}

.footer-info {
    margin-top: 20px;
}

.footer-info p {
    padding-top: 6px;
}

.footer-contact {
    margin-top: 0;
}

.container-info {
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.row {
    padding: 0 120px;
}

.container ul {
    list-style-type: square;
}

.container p {
    margin: 15px 0;
}

.emphasized {
    color: rgba(69, 48, 24, 1);
}

.content-contact {
    height: 95vh;
}

@media(max-device-width:992px) {
    .found {
        text-align: center;
        margin-top: 30px;
    }
    .header-buttons {
        gap: 50px;
    }
    .header-info {
        max-width: 300px;
        margin-bottom: 70px;
    }
    .header__button {
        padding: 15px 25px;
    }
    .text-align {
        text-align: center;
    }
    .content {
        padding: 0;
    }
    .content-contact {
        padding: 3rem;
    }
}

@media(max-device-width:1200px) {
    .header-info {
        max-width: 800px;
    }
    .row {
        padding: 0;
    }
}

@media(max-device-width:344px) {
    .footer-info p {
        font-size: 12px;
        padding-top: 0;
    }
    .content-contact {
        padding: 0;
    }
    .header__button {
        padding: 13px;
    }
}

@media(max-device-width:575px) {
    .container {
        padding: 0 25px;
    }
    .content-contact {
        padding: 0 20px;
    }
    .container-contact {
        box-shadow: none;
    }
}